.body {
  background-color: rgb(220, 220, 220);
}

.index-h1 {
  margin: 16px 0;
  font-size: 2vr;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8em;
  row-gap: 4em;
  padding: 16px;
}

.img-card-index {
  object-fit: cover;
  width: 400px;
  height: 361px;
  border-radius: 12px;
}

.card-food {
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
}

.card-content {

  display: flex;
  justify-content: center;

  .link-title-card {
    text-decoration: none;
  }

  .card-content-description {
    justify-content: center;
    text-decoration: none;
    color: rgb(33, 35, 148);
  }

  h5
  {
    justify-content: center;
    text-decoration: none;
    color: rgb(33, 35, 148);
    font-size: 0.5vr;
    margin-top: 12px;
  }
}
