.navbar-lewagon {
  justify-content: space-between;
  background: rgb(197, 197, 197);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon {
  height: 80px;
}

.navbar-title {
  display: flex;
  justify-content: center;
}

.login-div {
  border: none;
  padding: 6px 12px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
}

#login {
  font-size: 1.25em;
}
