$hover-color: rgb(179, 84, 84);

.navbar-lewagon {
  justify-content: space-between;
  background: rgb(231,144,144);
  background: linear-gradient(180deg, rgba(231,144,144,1) 0%, rgba(242,238,197,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  // background: rgb(155,159,255);
  // background: linear-gradient(180deg, rgba(155,159,255,1) 0%, rgba(197,234,242,1) 100%);
  // background: rgb(255,150,143);
  // background: linear-gradient(180deg, rgba(255,150,143,1) 5%, rgba(197,202,242,1) 81%);
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  font-size: 22px;
  display: flex;
  align-items: center;
  transition: transform 300ms ease-in-out;

  &:hover{
    transform: scale(1.1);
  }
}



.navbar-lewagon {
  height: 85px;
  width: auto;
}

.navbar-title {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  font-family: $logo-font;
  text-decoration: none;
  margin-left: 2rem;
  color: #cb7265;

  &:hover {
    color: $hover-color;
    transition: 0.3s ease-in-out;
  }
}

#login {
  font-size: 1.25em;
}
